
<partial name="_Notification"/>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert"><i class="bi bi-plus-circle"></i> &nbsp; Create new product</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%" id="tblData">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Cover Type</th>
            <th>Actions</th>
            
            
        </tr>
    </thead>
    

</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}