@model Product
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Upsert">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Create Product</h2>
            <hr/>
        </div>

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mb-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        
        <div class="mb-3">
            <label asp-for="Model"></label>
            <input class="form-control" asp-for="Model"/>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Year"></label>
            <input class="form-control" asp-for="Year"/>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

         <div class="mb-3">
            <label asp-for="ListPrice"></label>
            <input class="form-control" asp-for="ListPrice"/>
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CoverTypeId"></label>
            <select asp-for="CoverTypeId" asp-items="ViewBag.CoverTypeList" class="form-select">
                <option disabled selected>--Select Cover Type--</option>
            </select>
            <span asp-validation-for="CoverTypeId" class="text-danger"></span>
        </div>

         <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        
        <button class="btn btn-primary" type="submit" style="width:150px">Save</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
            </div>
            <div class="col-lg-3">

            </div>

        </div>
        
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

